.ea-warning {
    display: none;
}
.ea-active-warning {
    background: #ff0000;
    display: block;
}
.ea-hidden {
    display: none !important;
}

.ea-step-title {
    height:80px;
    margin: 20px 0 0;
}
.ea-step-content {
    padding: 20px 0 0;
}