.ea-warning {
    display: none;
}
.ea-active-warning {
    background: #ff0000;
    display: inline;
}
.ea-hidden {
    display: none;
}

.ea-step-content {
    height: 450px;
}
.ea-step-title {
    height: 30px;
}

.ea-step-title span {
    color: blue;
}